.tooltip {
    position: sticky;
    width: 200px;
    height: 75px;
    padding: 2px;
    padding-top: 8px;
    font: 11px sans-serif;
    font-weight: bold;
    color: rgb(214, 218, 24);
    text-align: center;
    background: #380059;
    border: 0;
    border-radius: 10px;
  }
  
  .axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #380059;
    text-anchor: middle;
  }
  